body{
  background-color: black;
  margin: 0px;
}
h1{
  text-align: center;
  font-family: 'Schoolbell';
  color: white;
}
h2{
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
  color: black;

}
h5{
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
  color: white;
  font-size: 20px;

}

h3{
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
  margin-left: 30px;
  color: white;
}
a:link{
  text-decoration: none;
}

.box1{
  background-color: black;
  width: 50%;
  height: 40px;
  margin-left: 25%;
  margin-top: 50px;
}
.box2{
  background-color: blue;
  width: 50%;
  height: 50%;
  margin-left: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box3{
  margin-left: 30px;
  height: 320px;
  width: 50%;
  background-color:#bfd2f2;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box4{
  margin-left: 30px;
  height: 320px;
  width: 50%;
  background-color: #f4f5f7;
  margin-top: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box5{
  margin-top: none;
  margin-left: 30px;
  height: 450px;
  width: 50%;
  background-color:#bfd2f2;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box6{
  margin-left: 30px;
  height: 475px;
  width: 50%;
  background-color: #f4f5f7;
  margin-top: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box6{
  margin-left: 30px;
  height: 475px;
  width: 50%;
  background-color: #f4f5f7;
  margin-top: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box6{
  margin-left: 30px;
  height: 475px;
  width: 50%;
  background-color: #f4f5f7;
  margin-top: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.one{
  margin-top: 15px;
}
.two{
  margin-top: 15px;
}
.three{
  margin-top: 15px;
}
.four{
  margin-top: 15px;
}
.ruler{
  margin-left: 30px;
  margin-right: 30px;
}
.input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
.input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input[type=submit]:hover {
  background-color: #45a049;
}

.div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.fname{
  font-family: 'Raleway', sans-serif;
  margin-left: 30px;
  margin-top: 100px;
}
.ruler{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
