body{
  background-color: white;
  margin: 0px;
}
h1{
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: 'Schoolbell';
}
h2,h3,h4,h5{
  color: black;
  text-align: center;
  font-family: 'Schoolbell';
  margin left: -10px;
}
h6{
  font-size: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: black;
}
a:link{
  text-decoration: none;
}
.aboutinfo{
  background: white;
  width: 60%;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
}

.title{
  /* margin-top: none; */
  width: 40%;
  /* light grey */
  margin-left: 30%;
  background-color: white;
}
.phoenix{
  float: left;
  margin-top: 20px;
  margin-left: 35px;
}
.column1{
  background: white;
  width: 22%;
  height: 45vh;
  margin-top: 40px;
  float: left;
  margin-left: 20px;
}
.column2{
  background: white;
  width: 22%;
height: 45vh;
margin-top: 40px;

  float: left;
  margin-left: 10%;

}
.column3{
  background: white;
  width: 22%;
  height: 45vh;
  float: left;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 10%;
}
