body{
background-color: black;
}
h1{
  color: white;
  font-family: 'Special Elite', cursive;
  margin: auto;
  margin-top: 10%;
  position: center;
  width: 25%;
  text-align: center;
}
h2{
  color: #cc0000;
  font-family: 'Special Elite', cursive;
  margin: auto;
  margin-top: 15%;
  position: center;
  width: 25%;
  text-align: center;
  text-decoration: none;
}
h3{
  color: white;
  font-family: 'Special Elite', cursive;
  margin: auto;
  margin-top: 10%;
  position: center;
  width: 25%;
  text-align: center;
}

img source="images/mansion.png" alt="center">

.center {
display: block;
margin-left: auto;
width: 50%;

}

.mansion {
  position: absolute;
  top: 30px;
  z-index: -1;

  /* transform: translate(-50%, 0); */

}
